.background {
    max-width: 800px;
    .table {
        $tableSize: 25vw;
        $max: 300px;
        $min: 250px;
        // position: absolute;
        border-radius: 50%;
        width: $tableSize;
        max-width: $max;
        min-width: $min;
        height: $tableSize;
        max-height: $max;
        min-height: $min;
        background-color: rgb(193, 193, 243);
        position: fixed;
        top: 50%;
        left:50%;
        border: 1px solid black;
        transform:  translate(-50%, -50%) rotate(391deg) skew(132deg, -4deg);
        display: flex;
        justify-content: center;
        align-items: center;
        .cardPlotter{
            display: grid;
            $square: 73%;
            width: $square;
            height: $square;
            grid-template-columns: repeat(20, minmax(9px, 1fr));
            grid-template-rows: repeat(20, minmax(9px, 1fr));
            p{
                margin: 0;
            }
            &.card.tableCard{
                grid-row: 4;
            }
        }
    }
    .chair {
        width: 200px;
        height:300px;
        background-color: transparent;
        position: fixed;
    }
}